.chat-container {
    padding: 20px;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; /* Fondo claro para el contenedor del chat */
    border-radius: 10px; /* Bordes redondeados para el contenedor */
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf50; /* Fondo verde para el encabezado */
    padding: 10px;
    border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
    color: #fff; /* Texto blanco */
}

.participation-count {
    color: #1a1a1a;
}

.participants-button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #646cff;
    color: #fff;
    border: none;
    cursor: pointer; /* Manito de cursor al pasar por el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar por el botón */
}

.participants-button:hover {
    background-color: #4754d6; /* Cambio de color al pasar por el botón */
}

.chat-messages {
    flex: 1;
    max-height: calc(80vh - 100px);
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 0 0 10px 10px; /* Bordes redondeados en la parte inferior */
}

.chat-message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.chat-message-sent {
    text-align: right;
    align-items: flex-end;
}

.chat-message-received {
    text-align: left;
    align-items: flex-start;
}

.chat-message-sender {
    margin-bottom: 5px;
    color: #555; /* Texto gris para el remitente */
    font-weight: bold; /* Texto en negrita para el remitente */
}

.chat-message-content {
    background-color: #e0e0e0;
    color: #000;
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
}

.chat-message-sent .chat-message-content {
    background-color: #d1ecf1; /* Fondo azul claro para mensajes enviados */
    color: #0c5460; /* Texto azul oscuro para mensajes enviados */
}

.chat-message-received .chat-message-content {
    background-color: #f8d7da; /* Fondo rojo claro para mensajes recibidos */
    color: #721c24; /* Texto rojo oscuro para mensajes recibidos */
}

.chat-message-warning {
    color: red;
    background-color: #f8d7da; /* Fondo rojo claro para mensajes de advertencia */
    padding: 10px; /* Aumentar el padding para mayor visibilidad */
    border-left: 5px solid #f5c6cb; /* Borde rojo a la izquierda para mayor visibilidad */
}

.chat-input-container {
    display: flex;
    margin-bottom: 10px;
}

.chat-input {
    flex: 1;
    margin-right: 10px;
    border-radius: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #fff;
    color: #000;
    transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.chat-input:focus {
    border-color: #646cff; /* Cambio de color del borde al enfocar */
}

.chat-send-button {
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    background: #646cff;
    color: #fff; /* Texto blanco */
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer; /* Manito de cursor al pasar por el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar por el botón */
}

.chat-send-button:hover {
    background-color: #4754d6; /* Cambio de color al pasar por el botón */
}

.not-participated-users {
    display: flex;
    align-items: center;
    background-color: #f1f1f1; /* Fondo claro para la sección de usuarios no participados */
    padding: 10px; /* Relleno para la sección de usuarios no participados */
    border-radius: 10px; /* Bordes redondeados para la sección de usuarios no participados */
}

.not-participated-user {
    text-align: center;
    margin-right: 20px;
    color: #333; /* Texto oscuro para los usuarios no participados */
}
